
# ip rule regeln um FF Trafic erstmal über den ospf link zu dem alten sndor1 zu schicken und da per NAT weiterzuleiten

auto {{ secondary_vnic }}
iface {{ secondary_vnic }} inet static
    address {{ secondary_vnic_ip4 }}
    netmask {{ secondary_vnic_netmask4 }}
    pre-up ip rule add from 10.0.0.0/8 table ffnet
    pre-up ip rule add to 10.0.0.0/8 table ffnet
    pre-up ip rule add from {{ dudl_ipv4 }} table ffnet
    pre-up ip rule add to {{ dudl_ipv4 }} table ffnet
    pre-up ip rule add from {{ dudl_ipv6 }} table ffnet
    pre-up ip rule add to {{ dudl_ipv6 }} table ffnet

    post-up ip route add default via 192.168.100.5 dev eth1 table ffnet
    pre-down ip route del default via 192.168.100.5 dev eth1 table ffnet
    post-down ip rule del from 10.0.0.0/8 table ffnet
    post-down ip rule del to 10.0.0.0/8 table ffnet
#   post-down ip rule del from {{ dudl_ipv4 }} table ffnet
#   post-down ip rule del to {{ dudl_ipv4 }} table ffnet
#   post-down ip rule del from {{ dudl_ipv6 }} table ffnet
#   post-down ip rule del to {{ dudl_ipv6 }} table ffnet

