server:
	# Disables DNSSEC
	module-config: "iterator"
	interface: 0.0.0.0
	interface: ::0
	access-control: {{ff_network.v4_network}} allow
	access-control: {{ff_network.v6_network}} allow
	access-control: fe80::/10 allow

local-zone: "services.ffdo.de." static


{% if domaenenliste is defined %}
{% for domaene in domaenenliste|dictsort %}
local-data: "ntp.services.ffdo.de. AAAA {{domaenen[domaene[0]].ffv6_network | ipaddr(domaene[1].server_id) | ipaddr('address') }}"
local-data: "ntp.services.ffdo.de. A {{domaenen[domaene[0]].ffv4_network | ipaddr(domaene[1].server_id) | ipaddr('address') }}"
{% endfor %}
{% endif %}

local-data: "update.services.ffdo.de. AAAA {{update_server}}"

forward-zone:
	name: .
{% if kea.dns.additional %}{% for entry in kea.dns.additional %}
	forward-addr:{{entry}}
{%endfor %}{% endif %}

